/* Custom Scrollbar Styles */
.overflow-y-auto {
    /* Webkit (Chrome, Safari, newer versions of Opera) */
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #e9e9e9 #e9e9e9; /* Thumb color and track color */
  }
  
  .overflow-y-auto::-webkit-scrollbar {
    width: 8px; /* Narrow scrollbar width */
  }
  
  .overflow-y-auto::-webkit-scrollbar-track {
    background: #e9e9e9; /* Light gray track */
    border-radius: 10px;
  }
  
  .overflow-y-auto::-webkit-scrollbar-thumb {
    background-color: #e9e9e9; /* Soft blue thumb */
    border-radius: 10px;
    border: 2px solid #e9e9e9; /* Creates padding around the thumb */
  }
  
  .overflow-y-auto::-webkit-scrollbar-thumb:hover {
    background-color: #e9e9e9; /* Darker blue on hover */
  }