/* SideBarProp.css */
@import url('../../xy-theme.css');
.NodeProperties {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .NodeBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .PropertyRow {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  select,
  input[type="text"],
  input[type="radio"] {
    padding: 2px;
    font-size: 14px;
    border: 1px solid #ccc;
    height: 30px;
    border-radius: 4px;
    width: 90%;
    box-sizing: border-box;
    text-align: center;
  }
  
  select {
    background-color: #fff;
    cursor: pointer;
  }
  
  input[type="radio"] {
    width: auto;
    margin-right: 5px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 3px 4px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  

  /* MonoDirectionalNode.css */

.MonoDirNode {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 8px; /* Rounded corners */
    font-size: 14px;
    color: #333; /* Text color */
    padding: 1px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
.TriDirNode{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 8px; /* Rounded corners */
  font-size: 14px;
  color: #333; /* Text color */
  padding: 1px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  .TriDirNode:hover{
    transform: scale(1); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
  }

  .TriDirNode:active{
    transform: scale(1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .MonoDirNode:hover {
    transform: scale(1); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
  }
  
  .MonoDirNode:active {
    transform: scale(1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Handle styling */
  .react-flow__handle {
    width: 5px;
    height: 5px;
    background-color: #007bff; /* Handle color */
    border: 2px solid #ffffff; /* Border for contrast */
    border-radius: 50%; /* Circular handle */
    position: absolute; /* Align handles accurately */
    z-index: 10; /* Ensure visibility above other elements */
    cursor: pointer;
  }
  
  .react-flow__handle:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  /* Position-specific tweaks */
  .react-flow__handle-top {
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .react-flow__handle-bottom {
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
  